:root {
    --sidebarBackgroundColor: #DFD8CA;
    --goldTrim: #D2A63C;
    --background: rgb(60 54 50 / .9);
    --mainTextColor: #F3F3E6;
    --headerColor: #EEC95C;
    --sideTextColor: #3C3632;
    --sideHeaderColor: #564D42;
    --darkStroke: #564D42;
    --lightStroke: #EECD5C;
    --boxBackgroundColor: #5F574E;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column wrap;
    width:75%;
    background-color: black;
    background-image: url(images/goldswirl.png);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}


.page-wrapper{
    margin-top: 5vh;
}

aside.sidebar{
    position: fixed;
    align-self: flex-end;
    right:0;
    top:0;
    width: 25%;
    margin-top: 5vh;
}

.main, .intro{
    padding: 25px;
    margin: 0 25px;
}

.sidebar .wrapper div{
    background-color: var(--sidebarBackgroundColor);
    border-style: solid;
    border-color: var(--goldTrim);
    border-radius: 10px;
    border-width: 2px;
    margin: 2vh 10px;
    padding: 10px;
}

header[role="banner"]{
    margin-bottom: 2vh;
    background-color: #D2A63C;
}

.main.supporting, .intro{
    background-color: var(--background);
    opacity: 0.99;
    padding: 10px;
}

.main:only-of-type{
    border-radius: 0 0 15px 15px;
    margin-bottom: 5vh;
    padding-top:0;
    margin-top:-4vh;
}

div > p{
    font-size: 1.8vh;
    color: var(--mainTextColor);

}

.main h3, .intro h3{
    font-size: 3vh;
    color: var(--headerColor);
}

aside h3{
    color: var(--sideHeaderColor);
}

aside p{
    color: var(--sideTextColor);
}


[role~="article"]{
  margin: 4vh;
  background-color: var(--boxBackgroundColor); 
  border-radius: 10px;
  padding: 20px;
}

section header{
    margin: 4vh;
    border-radius: 10px;
}

#zen-summary::before{
    font-size: 3vh;
    color: var(--headerColor);
    font-weight: bold;
    content: "Beginning the Path";
}
div+footer{
    background-color: var(--boxBackgroundColor);
    padding: 5px;
    margin: 0 4vh 2vh;
    border-radius: 5px;
}

h1~h2{
    color: black;
}

h2 abbr[title]{
    color: black;
}

a::selection{
    color: tomato;
}

a:visited{
    color: rgb(227, 113, 46);
}

a:link{
    color:burlywood
}

li a:visited{
    color: brown;
}

li a:link{
    color: rgb(162, 110, 13);
}

li a::selection{
    color:#634531;
}

[id|="zen"]{
    padding-bottom: 25px;
}

[title]{
    color:lightblue;
}

li [title]{
    color: darkblue;
}

[role^="ban"]{
    padding: 15px;
}

h1:first-child{
    font-size: 5vh;
}

h2:last-child{
    font-size: 3.5vh;
}